<% layout('/shared/table_filter.ejs') -%>


<div class="container">
   <div class="row">
      <div class="col-md-3">
         <form action="#" method="get">
            <div class="input-group">
               <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
               <input class="form-control" id="system-search" name="q" placeholder="Search for" required>

               <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class='icon-search'></i></button>
                    </span>
            </div>
         </form>
      </div>
      <div class="col-md-9">
         <table class="table table-list-search">
            <thead>
            <tr>
               <th>Photo</th>
               <th>Name</th>
               <th>Surname</th>
               <th>Sex</th>
               <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<users.length; i++) {%>
            <tr>
               <td><img src="<%= users[i].photo%>" class="img-responsive" width="100px" alt="Cinque Terre"></td>
               <td><%= users[i].firstName %></td>
               <td><%= users[i].lastName %></td>
               <td><%= users[i].sex %></td>
               <td><%= users[i].age %></td>


               <td>
                  <form class="profile" action="/users" method="post">
                      <input type="hidden" name = "uid" value="<%= users[i].username %>">
                     <input type="submit" value="Profile" class="btn btn-info" />

                  </form>

                  <form class="profile" action="/new" method="post">
                    <input type="hidden" name = "recipient" value="<%= users[i]._id %>">
                    <input type="hidden" name = "composedMessage" value="test message">
                    <input type="submit" value="Chat" class="btn btn-info" />
                  </form>
               </td>
            </tr>
            <% } %>
            </tbody>
         </table>
      </div>
   </div>
</div>
